:root{
	--borderColorOfLogin: black;
	--borderSizeOfLogin: 5px;
	--primaryColor: /*#96ceb4*/#FFC15E;
	--borderRadiusOfLogin: 9px;
	--heightOfLogin: 23%;
	--marginLoginPercent: 2%;
	--borderSizeOfOther: 2px;
	--minimalBorderSize: 1px;
	--deletionColor: #FF6B6B; /*#BE6E46;*/
	--secondaryColor: #c7d9e5  ;
	--ternaryColor: #EEF7FB; /*#00FFFF;*/
	--agreeColor: var(--primaryColor);
	--dontKnowColor: #D8D8D8;
	--font: "Trebuchet MS";
	/* width: 100%; */
}
.MultipleChoiceAnswerButton{
	padding: 2.5%;
	margin: 2%;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	display: inline-flex;
	width: auto;
}
.CorrectAnswerButton{
	background-color: var(--secondaryColor);
}
.WrongAnswerButton{
	background-color: var(--deletionColor);
}

.MainMessage{
	width: 15%;
	height: auto;
	display:table-cell;
	vertical-align:middle;
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 2%;
	margin: 2%;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
}
.ErrorMessage{
	background-color: var(--deletionColor);
}
.MenuDiv{
	position: fixed;
	opacity: 100%;
	width: 100%;
	margin-bottom: 1.5%;
	top: 0px;
	left: 0px;
	background-color: var(--primaryColor);
	height: 40px;
	align-self: flex-start;
	border-bottom: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	z-index: 1000000;
}
.MenuHolder{
	padding: 1%;
	float: left;
	/* background-color: red; */
	display: inline-block;
}
.DatabaseLink{
	float: right;
	padding: 1%;
	display: inline-block;
	/* border-radius : var(--borderRadiusOfLogin); */
	/* border: var(--borderSizeOfOther) solid var(--borderColorOfLogin); */
}
.MenuHolder a, .DatabaseLink a{
	font-weight: bold;
	/* font-style: italic; */
	text-decoration: none;
	color: black;
}
.PrimaryInputHolder{
	width: 30%;
	padding: 0.5%;
	background-color: var(--secondaryColor);
	margin: auto;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
}
.FullQuestions1{
	margin: auto;
	width: 90%;
}

button, input, textarea{
	font-family: var(--font), Courier, monospace;
}

.MakeTrue, .MakeFalse{
	background-color: white;
	margin: 2%;
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
}
body{
	padding-top: 80px;
	color: black;
	font-family: var(--font), Courier, monospace;
	text-align: center;
	background-color: var(--ternaryColor);
	width: 100%;
	align-self: flex-start;
	margin: auto;
}
.LoginName{
	height: var(--heightOfLogin);

	font-weight: bolder;
	font-size: 200%;
}

.UpperHolderLogin{
	height: 15%;
}
.LowerHolderLogin{
	height: 85%;

}

.loginHolder{
	border: var(--borderSizeOfLogin) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	width: 30%;
	height: 50%;
	margin: auto;
	background-color: var(--primaryColor);
	text-align: center;
	padding: 3%;
}
.inputText{
	margin: var(--marginLoginPercent);
	font-size: 90%;
	text-align: center;
	height: var(--heightOfLogin);
	border: var(--borderSizeOfLogin) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	align-self: center;
	width: 80%;
}
.SubmitLogin{
	align-self: center;
	font-size: 90%;
	background-color: var(--secondaryColor);
	text-align: center;
	height: var(--heightOfLogin);
	border: var(--borderSizeOfLogin) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	width: 80%;
}

.AllTestsDataHolder{
	margin: auto;
	align-self: center;
	width: 70%;
	text-align: center;
}
.AllTestsTable{
	width: 100%;
}

.AllTestsTable th, .AllTestsTable td{
	background-color: var(--primaryColor);
	text-align: center;
	padding: 1%;
	font-size: 100%;
	margin: 0px;
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
}

.AllTestsTable th{
	padding: 1%;
}
.TestSelection, .TestDeletion, .NewTest{
	width:20%;
	padding: 1%;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	margin: 0.5%;
	background-color: var(--secondaryColor);
	align-self: center;
}
.OptionField{
	width: 25%;
}
.QuestionField{
	width: 25%;
}
.SubjectField{
	width: 15%;
}
.FunctionsField{
	width: 15%;
	text-align: center;
	margin: auto;
}
.AnswerField{
	width: 20%;
}
.TestDeletion{
	background-color: var(--deletionColor);
}

.AllTestsDataHolder{
	margin:auto;
	align-self: center;
	width: 90%;
}
.TestDataHolder1{
	margin:auto;
	width: 100%;
	align-self: left;
}
.TestDataHolder{
	/*background-color: red;*/
	margin:auto;
	width: 60%;
	align-self: left;
}
.TestDataTable{
	background-color: var(--primaryColor);
	align-self: center;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	margin: auto;
	width: 100%;
	/*margin: 2%;*/
}

.TestDataTable td{
	padding: 2%;
}
.TestDataTable tr{
	border: 1px solid black;
	border-radius : var(--borderRadiusOfLogin);
}
.TestDataValueHolder{
	font-weight: bold;
}
.TestDataTable button{
	align-self: center;
	font-size: 90%;
	background-color: var(--secondaryColor);
	text-align: center;
	height: var(--heightOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	width: 100%;
}
.FullQuestions{
	width: 100%;
	align-self: center;
	margin: auto;
}
.MainTable {
	width: 100%;
	background-color: var(--ternaryColor);
	border-radius : var(--borderRadiusOfLogin);
	/*border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);*/
	/*margin: 2%;*/
}

.MainTable .Correct0{
	background-color: var(--deletionColor);
}
.MainTable .Correct1{
	background-color: var(--agreeColor);
}
.MainTable .Correct2{
	background-color: var(--dontKnowColor);
}
.MainTable td{
	padding: 1%;
	background-color: var(--primaryColor);
}
.MainTable th{
	background-color: var(--primaryColor);
	/*background-color: #4E758D;*/
	/*color:white;*/
}
.MainTable .ChangeQuestion, .MainTable .RemoveQuestion, .MainTable .ChooseButton{
	align-self: center;
	font-size: 85%;
	background-color: var(--secondaryColor);
	text-align: center;
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	width: 100%;
	margin: 2%;
	padding: 2%;
}
.MainTable td, .MainTable th{
	border-radius : var(--borderRadiusOfLogin);
	border: 1px solid var(--borderColorOfLogin);;
}
.FunctionsField{
	border: 0px solid black;
}

.AppOption, .RemoveOption{
	width: 45%;
	align-self: center;
	font-size: 85%;
	background-color: var(--secondaryColor);
	text-align: center;
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	margin: 2%;
}
.OptionChangeHolder{
	width: 100%;
	display: inline-flex;
}
.OptionChange, .NewQuestionInput, .NewSubjectInput, .DatabaseAddQuestion, .NewDataInput, .NewAnswerInput{
	background-color: var(--secondaryColor);
	width: 100%;
	margin: 2%;
	padding: 2%;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
}
.OptionChange{
	display: inline-flex;
	width: auto;
	flex-grow: 1.2;
}
.CreationButton{
	background-color: var(--secondaryColor);
	width: 25%;
	margin: 2%;
	padding: 2%;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
}
.ShowAllQuestionsMark{
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	background-color: var(--secondaryColor);
	padding: 1%;
	margin: 3%;
}
.AllAnswersHolder{
	width: 90%;
	margin: auto;
}
.Link{
	margin: 3%;
}

.QuestionsHolder{
	margin: auto;
	width: 90%;
}
.ProcentsHolder{
	width: 40%;
	padding: 0.5%;
	background-color: var(--secondaryColor);
	margin: auto;
	border-radius : var(--borderRadiusOfLogin);
	border: var(--borderSizeOfOther) solid var(--borderColorOfLogin);
}
.PercentSpan{
	font-weight: bold;
}
.TestDataTable .DeletionButton , .MainTable .RemoveQuestion{
	background-color: var(--deletionColor);
}
.QuestionChoiceButton{
	border-radius: 50%;
	margin: 1%;
	padding: 2%;
	text-align: center;
	background-color: var(--secondaryColor);
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
}
.TestDataHolder1{
	height: 90%;
	width: 90%;
	align-items: center;
}
.SelectorHolder{
	overflow-x: scroll;
    overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	height: 15%;
	background-color: var(--primaryColor);
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	margin: 1%;
	padding: .1%;
	display: flex;
}
.QuestionHolder{
	background-color: var(--primaryColor);
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	align-items: center;
	height: 80%;
	margin: 1%;
	padding: .1%;
	width: 100%;
}
.QuestionTable{
	margin: auto;
	width: 90%;
	padding: 1%;
}
.TableHeaders{
	/* background-color: orange; */
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
	text-align: center;
	font-size: 120%;
}
.MetaInfoHolder{
	/* background-color: green; */
}
.BulletHolder{
	padding: 1%;
	vertical-align: middle;
}
.Radio{
	vertical-align: middle;
	cursor: pointer;
	height: 20px;
	width: 20px;
	background-color: var(--secondaryColor);
	border-radius: 50%;
	margin: 1%;
}
.QuestionTable{
	width: 90%;
	height: 97%;
}
.QuestionTableQuestion{
	align-items: center;
	margin: auto;
	height: 85%;
	width: 85%;
}
.AnswerBox{
	background-color: var(--ternaryColor);
	resize: none;
	font-size: 120%;
	display: block;
	margin: auto;
	resize: none;
	width: 100%;
	height: 100%;
	align-self: center;
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
}
.Timer{
	width: 20%;
	margin: auto;
	padding: 1%;
	background-color: var(--secondaryColor);
	border:  var(--borderSizeOfOther) solid var(--borderColorOfLogin);
	border-radius : var(--borderRadiusOfLogin);
}
